.header {
  /* Facebook */
  position: absolute;
  width: 165px;
  line-height: auto;
  left: 290px;
  top: 96%;

  font-size: 36px;
  color: #262626;
}
.placements {
  position: absolute;
  width: 1028px;
  left: 290px;
  height: 24px;
  top: 102%;
  font-size: 14px;
  padding: 4px 0 6px 0px;

  .show {
    position: absolute;
    margin-left: 600px;
  }
  .show1 {
    position: absolute;
    margin-left: 0px;
  }
  .last {
    position: absolute;
    margin-left: 50px;
  }

  input.finder {
    position: absolute;
    margin-left: 230px;
    padding: 0.1em 0.2em;
    border: none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    background: none;
    outline: none;
    border-bottom: 1px solid #787878;
  }
  select {
    outline: 0;
    overflow: hidden;
    height: 30px;
    background: #b8b8b8;
    color: #020101;
    border: #2c343c;
    z-index: 2;
    padding: 10px 12px;
    padding: 5px 3px 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    margin-left: 60px;
  }

  select option {
    border: 1px solid #000;
    background: white;
  }
}
