@import url("./assets/font/style.css");

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Regular";
}
html,
body {
  min-height: 100%;
  max-height: 900px;
  height: 900px;
}

body {
  padding: 0px;
  box-sizing: border-box;
  background: #E5E5E5;
  max-height: 900px;
  height: 900px;

}
div#root {
  box-sizing: border-box;
  font-size: 42px;
  border-radius: 8px;
  font-size: 1.6em;
  line-height: 1.4em;
  height: 1000px;
  background: #E5E5E5;

  width: 100%;
  max-width: 100%;
}
h1,
h2,
h3,
h5,
h6,
h4,
span,
p {
  font-weight: normal;
}
